body {
  background-color: rgb(187, 236, 255);
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maincard {
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
}
.card-top {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  padding: 0px 90px;
  gap: 64px;
  height: 62px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 1px 1px #f1ecec;
  z-index: 1;
  top: 25px;
  position: relative;
}
.card-top-icon {
  display: flex;
  gap: 10px;
  align-items: center;
}
.card-middle {
  background-color: rgb(255, 255, 255);
  max-width: 1169px;

  max-height: 416px;
  border-radius: 20px;
  padding: 50px 30px;
}
.card-middle-top {
  display: flex;
  align-items: center;
}
.card-middle-bottom {
  display: flex;
  flex-direction: row;
}
.card-middle-bottom-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
}
.card-middle-bottom-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: -10px;
}
.card-bottom button {
  border: 0;
  background-color: #fccd03;
  color: #1c3c6b;
  border-radius: 10px;
  padding: 15px 50px;
  font-size: 18px;
  font-weight: 700;
  bottom: 0;
  outline: none;
  position: relative;
  bottom: 25px;
}
.box-1 {
  width: 280px;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid #dbdde0;
}
.box-1 p {
  font-size: 12px;
  padding: 5px;
  margin: 0px;
}
.box-2 {
  display: flex !important;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid #dbdde0;
  z-index: 1;
  height: 24px;
  width: 24px;
  background: white;
  border-radius: 50%;
  -webkit-transform: translate(-25%, 3%);
  transform: translate(-25%, 3%);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box-3 p {
  font-size: 12px;
  padding: 5px;
  margin: 0px;
}
.box-1 p:nth-child(2) {
  font-size: 18px;
  font-weight: 900;
  color: #1c3c6b;
}
.box-3 p:nth-child(2) {
  font-size: 18px;
  font-weight: 900;
  color: #1c3c6b;
}
.box-4 p:nth-child(2) {
  font-size: 18px;
}
.box-4 p:nth-child(2) span {
  font-weight: 900;
  color: #1c3c6b;
}
.box-6 p:nth-child(2) {
  font-size: 18px;
  font-weight: 900;
  color: #1c3c6b;
}
.box-3 {
  width: 280px;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid #dbdde0;
  transform: translate(-9%, 0%);
}
.box-4 {
  width: 150px;
  height: 80px;
  padding: 10px 10px;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #dbdde0;
}
.box-4 p {
  font-size: 12px;
  padding: 5px;
  margin: 0px;
}
.box-5 p {
  font-size: 12px;
  padding: 5px;
  margin: 0px;
}
.box-5 {
  width: 150px;
  height: 80px;
  padding: 10px 10px;
  border-radius: 0px 15px 15px 0px;
  border: 1px solid #dbdde0;
}
.box-6 {
  width: 150px;
  margin-left: 20px;
  height: 80px;
  padding: 10px 10px;
  border-radius: 15px;
  border: 1px solid #dbdde0;
}
.box-6 p {
  font-size: 12px;
  padding: 5px;
  margin: 0px;
}

/* Mobile */
@media (min-width: 300px) and (max-width: 768px) {
  .card-top {
    gap: 32px;
    padding: 0px 38px;
  }
  .card-middle-top {
    justify-content: center;
  }
  .card-middle-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-middle-bottom-middle {
    margin-left: 0px;
  }
  .box-1,
  .box-3 {
    max-width: 150px;
  }
  .box-4,
  .box-5 {
    margin: 20px 0px;
    max-width: 150px;
  }

  .box-6 {
    width: 325px;
    margin-left: 0px;
  }
}
